<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Edit Student</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h2 class="mb-4">Edit Student</h2>

      <form
        th:action="@{/students/{id}(id=${student.id})}"
        th:object="${student}"
        method="POST"
      >
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            th:field="*{firstName}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            th:field="*{lastName}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            th:field="*{email}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            th:field="*{phone}"
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea
            class="form-control"
            id="address"
            th:field="*{address}"
            rows="3"
          ></textarea>
        </div>
        
        <!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Add New Student</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="card shadow rounded p-4">
        <h2 class="mb-4">Add New Student</h2>

        <form th:action="@{/students}" th:object="${student}" method="POST">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                th:field="*{firstName}"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                th:field="*{lastName}"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                th:field="*{email}"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                th:field="*{phone}"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea
              class="form-control"
              id="address"
              th:field="*{address}"
              rows="3"
            ></textarea>
          </div>
          
          <div class="mb-3">
  <label for="password" class="form-label">Password</label>
  <input
    type="password"
    class="form-control"
    id="password"
    th:field="*{password}"
    required
  />
  <div th:if="${#fields.hasErrors('password')}" class="text-danger">
    <p th:errors="*{password}"></p>
  </div>
</div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Save Student</button>
            <a th:href="@{/students}" class="btn btn-secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
        

        <button type="submit" class="btn btn-primary">Update Student</button>
        <a th:href="@{/students}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </body>
</html>
